/******* TABLET *******/
@media screen and (max-width: 1279px) {
	#gallery {
		width: 70%;
		margin: auto;
	}

	#gallery .col-1 {
		margin: 0px 0px 20px 0px;
	}

	#gallery .col-1, #gallery .col-2 {
		width: 100%;
	}

	.image-wrapper {
		width: 48%;
		display: inline-block;
	}

	.image-wrapper:first-child {
		margin-right: 20px;
	}
}

/***** MOBILE *****/

/* Works Section - Gallery */
@media screen and (max-width: 600px) {

	#gallery {
		width: 100%;
	}

	#gallery img{
		max-width: 100%;
	}
}

/****iphone 4 header ***/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	body > header {
		height: 320px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	body > header {
		height: 480px;
	}
}

/** header mobile font **/
@media screen and (max-width: 600px) {
	header h2 {
		font-size: 24px;
	}

	.title, .title p {
		width: 90% !important;
	}
}

/* Navigation section  */
@media screen and (max-width: 600px) {

	nav {
		position: fixed;
		top: 0;
		background-color: #fff;
		justify-content: flex-start !important;
	}

	#menu {
		visibility: visible !important;
		align-self: flex-end;
	}
	
	.navigation.open {
		transform: translate(-130px, 50px);
	}

	.navigation {
		z-index: 10;
	    background-color: #fff;
	    width: 300px;
	    position: absolute;
	    /*This trasform moves the drawer off canvas.*/
	    transform: translate(-430px, 50px);
	    /*Optionally, we animate the drawer.*/
	    transition: transform 0.3s ease;
	    display: block;
	    flex-direction: column;
	}

	.navigation li {
		display: list-item;
		padding: 14px;
	}

	.navigation li a {
		font-size: 20px;
	}
}