* {
	box-sizing: border-box;
	/*border: 1px solid;*/
}

body {
	width: 100%;
}

header {
	background-image: url(/img/hero.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.title {
	text-align: center;
	width: 50%;
}

.navigation {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.navigation a {
	text-decoration: none;
	padding: 1em 1.5em;
	color: #000;
}

.navigation #logo{
	margin-right: auto;
}

#about, .works-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
}

/**
	Work gallery columns
**/
.col img {
	display: inline-block;
	max-width: 100%;
}

.col img:first-child {
	margin-bottom: 25px;
}

.col img:nth-child(2) {
	margin-right: 20px;
}

.col-1 {
	width: 765px;
	margin-right: 25px;
}

.col-1 img:last-child {
	margin-top: 20px;
}

.col-2 {
	width: 440px;
}

button#load{
	width: 200px;
	height: 50px;
	margin: 80px auto 140px;
	background-color: #E19595;
	color: #fff;
	border: none;
	display: block;
}

#review {
	width: 50%;
	margin: auto;
	text-align: center;
}

#video {
	background-image: url(/img/video.jpg);
	background-size: cover;
	height: 500px;
}

#follow {
	text-align: center;
}

#social {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0px; /** remove links padding **/
}

#social li{
	margin: 80px 50px 150px;
	font-size: 20px;
}

#social a{
	color: #000;
}