* {
	box-sizing: border-box;
	border: 1px solid;
}

body {
	width: 100%;
}

header {
	background-image: url(/img/hero.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.title {
	text-align: center;
	width: 50%;
}

.navigation {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.navigation a {
	text-decoration: none;
	padding: 1em 1.5em;
	color: #000;
}

.navigation #logo{
	margin-right: auto;
}

#about {
	display: flex;
	justify-content: center;
	align-items: center;
}
